@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
  visibility: hidden;

  width: 1px;
  height: 1px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  padding-top: 49px;
  padding-bottom: 2px;

  background-color: #eeeeee;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding-bottom: 12px;
  transition: 300ms ease-out;
}

.header__logo[href]:hover {
  opacity: 0.8;
}

.header__logo[href]:active {
  opacity: 0.3;
}

.header__item {
  position: relative;

  font-weight: 500;

  outline: none;
  transition: 300ms ease-out;
}

.header__item:hover,
.header__item:focus {
  color: #fb565a;
}

.header__item:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__item--current::after {
  position: absolute;
  left: 1px;
  bottom: -11px;

  content: "";
  display: block;
  width: 97%;
  height: 2px;

  background-color: #fb565a;
}

.header__main-menu {
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 600px;

  letter-spacing: 0.15px;
}

.header__main-menu .header__item {
  margin-right: 45px;
}

.header__item svg {
  margin-right: 21px;

  width: 15px;
  height: 15px;

  opacity: 0.3;
}

.slider {
  position: relative;

  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider__slide {
  display: none;
}

.slider__slide--active {
  min-height: 413px;
  display: block;
}

.slider__slide1 {
  background: url("../img/slide-picture-1.png") no-repeat 431px 50%;
}

.slider__slide2 {
  background: url("../img/slide-picture-2.png") no-repeat 495px 50%;
}

.slider__slide3 {
  background: url("../img/slide-picture-3.png") no-repeat 400px 50%;
}

.slider__content {
  padding-top: 60px;
  padding-bottom: 30px;
}

.slider__title {
  margin: 0 0 26px;

  max-width: 523px;

  font-size: 55px;
  font-weight: 500;
  line-height: 1;
}

.slider__text {
  margin: 0 0 39px;

  width: 410px;

  line-height: 1.5;
}

.slider__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;

  background-color: #fb565a;
  color: #ffffff;

  font-weight: 500;

  outline: none;
  border-radius: 3px;
  transition: 300ms ease-out;
}

.slider__button:hover {
  background-color: #e74246;
}

.slider__button:active,
.slider__button:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.slider .container {
  position: relative;
}

.slider__controls {
  position: absolute;
  left: 536px;
  bottom: 80px;

  padding: 0;

  display: flex;
  justify-content: center;

  list-style: none;
}

.slider__controls li {
  padding: 0;
  margin: 0 17px 0 0;

  font-size: 0;
}

.slider__switcher {
  position: relative;

  width: 18px;
  height: 18px;

  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider__switcher--active::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  content: "";

  background-image: url("../img/button-active.svg");
  opacity: 0.3;
}

.slider__switcher:hover {
  cursor: pointer;
}

.features {
  padding: 0;
  margin-bottom: 40px;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.features__item {
  margin-right: 100px;
  margin-bottom: 80px;

  width: 300px;
}

.features__item:nth-child(3n) {
  margin-right: 0;
}

.features__img {
  margin-bottom: 25px;

  width: 300px;
  height: 146px;
}

.features__img img {
  width: 100%;
  height: auto;
}

.features__title {
  margin: 0;

  font-size: 24px;
  line-height: 1.25;
}

.features__text {
  margin-bottom: 32px;

  max-width: 250px;

  line-height: 1.5;
  letter-spacing: 0.17px;
}

.features__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 50px;

  color: #ffffff;

  font-weight: 500;

  outline: none;
  border-radius: 3px;
  transition: 300ms ease-out;
}

.features__button--red {
  background-color: #fb565a;
}

.features__button--red:hover {
  background-color: #e74246;
}

.features__button--red:active,
.features__button--red:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.features__button--green {
  background-color: #00ca74;
}

.features__button--green:hover {
  background-color: #00bc6c;
}

.features__button--green:active,
.features__button--green:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.features__button--yellow {
  background-color: #efc84a;
}

.features__button--yellow:hover {
  background-color: #eab534;
}

.features__button--yellow:active,
.features__button--yellow:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.company {
  margin-bottom: 43px;

  display: flex;
  justify-content: space-between;
}

.company__title {
  margin: 34px 0 33px;

  max-width: 700px;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.12px;
}

.company__text {
  margin-bottom: 43px;

  max-width: 650px;

  line-height: 1.5;
  letter-spacing: 0.03px;
}

.company__title--small {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1px;
}

.company__desc .company__title--small {
  margin-bottom: 28px;
}

.company__stats .company__title--small {
  margin-bottom: 40px;
}

.company__possibilities {
  list-style: none;
  padding-left: 1px;
}

.company__possibilities li::before {
  position: absolute;
  top: 11px;
  left: 0;

  content: "";
  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.company__possibilities li {
  position: relative;

  margin: 0 0 24px;
  padding-left: 35px;

  color: #283136;
  line-height: 1.5;
}

.company__stats {
  text-align: center;
}

.company__img {
  margin-bottom: 40px;

  width: 360px;
  height: 208px;
}

.company__img img {
  width: 100%;
  height: auto;
}

.company__numbers {
  padding: 0;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 360px;

  text-align: left;

  list-style: none;
}

.company__numbers li {
  width: 120px;
}

.company__numbers span {
  font-size: 45px;
  font-weight: bold;
}

.company__numbers p {
  margin-top: 19px;

  line-height: 1.13;
 }

.company__numbers sup {
  font-size: 26px;
}

.partners {
  padding: 0;
  margin-bottom: 80px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners__item {
  position: relative;

  display: flex;
  align-items: center;

  outline: none;
  transition: 300ms ease-out;

  opacity: 0.2;
}

.partners__item img {
  object-fit: contain;
}

.partners__item:hover,
.partners__item:focus {
  opacity: 1;
}

.partners__item:active {
  opacity: 0.1;
}

.partners li {
  position: relative;

  margin-right: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 180px;
}

.partners li:first-child {
  padding-top: 7px;
}

.partners li:nth-child(4n) {
  margin-right: 0;
}

.partners li::after {
  position: absolute;
  right: -21px;

  content: "";
  display: block;
  height: 52px;
  width: 2px;

  background-color: #eeeeee;
}

.partners li:nth-child(4n)::after {
  display: none;
}

.contact {
  position: relative;

  margin-bottom: 55px;

  background: url("../img/map-marker.png") no-repeat 908px 50%,
              url("../img/map.jpg");
  background-size: 231px 190px, cover;
  background-repeat: no-repeat;
}

.contact__map {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.contact .container {
  display: flex;
  min-height: 416px;
}

.contact__address {
  padding: 47px 50px;
  margin: 54px 0;

  width: 319px;

  background-color: #ffffff;

  z-index: 1;
}

.contact__title {
  margin: 2px 0 23px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #000000;
}

.contact__text {
  margin: 0 0 18px;

  max-width: 210px;

  line-height: 1.13;
  color: #666666;
}

.contact__tel {
  margin: 0 0 37px;

  display: block;
  max-width: 210px;

  line-height: 1.13;
  color: #666666;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 50px;

  background-color: #fb565a;
  color: #ffffff;

  font-weight: 500;

  border-radius: 3px;
  outline: none;

  cursor: pointer;
  transition: 300ms ease-out;
}

.contact__button:hover {
  background-color: #e74246;
}

.contact__button:active,
.contact__button:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  padding: 70px 100px;
  margin: auto;

  display: none;
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);

  background-color: #ffffff;

  animation: appear 300ms;
}

@keyframes appear {
  from {
    opacity: 0.3;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal--active {
  display: block;
}

.modal__close {
  position: absolute;
  right: 85px;
  top: 75px;

  background-color: transparent;
  border: none;
  outline: none;

  transition: 300ms ease-out;
  opacity: 0.3;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__close:focus {
  opacity: 1;
  outline: 5px auto -webkit-focus-ring-color;
}

.modal__close:active {
  cursor: pointer;
  opacity: 0.12;
}

.modal__title {
  margin: 0 0 37px;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.modal__field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal__field label {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: bold;
  display: block;
}

.modal__input {
  padding: 15px;
  margin-bottom: 32px;

  width: 360px;
  height: 50px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.13;

  outline: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  background-color: #ffffff;
}

.modal__input:not(:placeholder-shown):invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal__input {
  border: 2px solid #d7dcde;
  color: #000000;
  transition: 300ms ease-out;
}

.modal__field .modal__input:hover {
  border: 2px solid #b4b9bb;
}

.modal__field .modal__input:focus {
  border: 2px solid #000000;
  color: #444444;
}

.modal__field textarea {
  padding: 10px;
  margin-bottom: 43px;

  width: 760px;
  height: 118px;
  resize: none;
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;

  background-color: #fb565a;
  color: #ffffff;

  outline: none;
  border: none;
  border-radius: 3px;

  cursor: pointer;
  transition: 300ms ease-out;
}

.modal__button:hover {
  background-color: #e74246;
}

.modal__button:active,
.modal__button:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.social .container {
  margin-bottom: 53px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__list {
  padding: 0;
  margin-right: 127px;

  display: flex;
  list-style: none;
}

.social__button {
  margin-right: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;

  font-weight: 500;

  background-color: #e1e1e1;

  outline: none;
  border-radius: 50%;

  transition: 300ms ease-out;
}

.social__button img {
  max-width: 100%;
}

.social__button:hover {
  background-color: #e74246;
}

.social__button:active,
.social__button:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social__button:active img {
  opacity: 0.3;
}

.social__title {
  margin: 0 0 12px;

  line-height: 1;
  font-size: 36px;
  font-weight: bold;
  color: black;
  letter-spacing: 0.12px;
}

.social__text {
  margin: 0;

  color: #444444;
  line-height: 1.38;
}

.catalog__title {
  margin-bottom: 55px;

  text-align: center;

  background-color: #eeeeee;
}

.catalog__title h1 {
  padding: 55px 0 105px;
  margin: 0;

  font-size: 55px;
  font-weight: 500;
}

.catalog__content {
  margin-bottom: 45px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog__block--left {
  width: 260px;
}

.catalog__block--right {
  width: 760px;
}

.sorting__title {
  margin: 3px 0 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}

.sorting,
.sorting__wrapper {
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.sorting {
  margin-bottom: 57px;
}

.sorting__parameters,
.sorting__arrows {
  padding: 3px 0 0;
  margin: 0;

  display: flex;
  align-items: center;

  list-style: none;
}

.sorting__parameters {
  margin-right: 50px;
}

.sorting__item {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;

  opacity: 0.3;
}

.sorting__item:hover {
  opacity: 0.6;
}

.sorting__item:active,
.sorting__item--active {
  opacity: 1;
}

.sorting__inverted {
  transform: rotate(180deg);
}

.sorting__parameters li {
  margin-right: 25px;
}

.sorting__arrows li {
  margin-right: 18px;
}

.sorting__parameters li:last-child,
.sorting__arrows li:last-child {
  margin-right: 0;
}

.product {
  padding: 0;
  margin-bottom: 26px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.product__item {
  position: relative;

  padding: 39px 0 0 0;
  margin: 0 0 34px 0;

  width: 360px;
  height: 615px;
}

.product__item::before {
  position: absolute;
  top: 0;

  content: "";
  height: 40px;
  width: 360px;

  background-image: url("../img/catalog-item-header.svg");

  transition: 300ms ease-out;
  opacity: 0.12;

  z-index: 1;
}

.product__item:hover::before {
  opacity: 1;
}

.product__img {
  padding: 0;
  margin: 0;

  width: 360px;
  height: 576px;

  background-color: #eeeeee;
}

.product__img img {
  object-fit: contain;
}

.product__desc {
  position: absolute;
  bottom: 0;

  padding: 10px 0 44px;
  width: 360px;

  display: none;

  background-color: #eeeeee;

  z-index: 1;
}

.product__item:hover .product__desc {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.product__title {
  margin: 17px 0 15px;

  font-size: 18px;
  line-height: 1.67;

  transition: 300ms ease-out;
}

.product__title:hover a {
  color: #fb565a;
}

.product__title:active a {
  color: rgba(0, 0, 0, 0.3);
}

.product__text {
  margin: 0 0 29px;

  max-width: 250px;

  font-weight: normal;
  line-height: 1.13;
  text-align: center;

  color: #666666;
}

.product__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  font-weight: 500;

  background-color: #fb565a;
  color: #ffffff;
  border-radius: 3px;

  transition: 300ms ease-out;
}

.product__button:hover {
  background-color: #e74246;
}

.product__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.page {
  padding: 0;
  margin-bottom: 15px;

  display: flex;
  list-style: none;
}

.page__item {
  margin-right: 11px;

  height: 50px;
  width: 50px;

  font-weight: 500;
  text-align: center;

  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 3px;

  transition: 300ms ease-out;
}

.page__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.page__item:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.page__item:active {
  border: none;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.page__item--current {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
  pointer-events: none;
  cursor: default;
}

.page__item:last-child {
  width: 260px;
}

.filter {
  padding: 0;
  margin: 0;
}

.filter__fieldset {
  padding: 0 0 0 1px;
  margin: 0 0 30px;

  border: none;
}

.filter__fieldset:first-child {
  margin-bottom: 30px;
}

.filter__title {
  padding: 0;
  margin-bottom: 13px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: 0.25px;
}

.filter__fieldset input {
  display: none;
}

.filter__fieldset ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter__fieldset li {
  margin: 0 0 17px;
}

.filter__label {
  position: relative;

  padding-left: 35px;

  display: flex;
  align-items: center;
  height: 23px;

  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: #283136;
}

.filter__slider {
  margin: 35px 0 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 80px;

  background-color: #eeeeee;
  border-radius: 3px;
}

.filter__bar {
  width: 220px;
  height: 2px;

  background-color: #d7dcde;
}

.filter__bar-fill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 160px;

  background-color: #56C36E;
}

.filter__button {
  width: 20px;
  height: 22px;

  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 50%;
  background: url("../img/filter-button.png");
  /* .svg-файл с зеплина багованный/пустой и не отображается вообще ни в какую; пришлось использовать .png*/

  cursor: pointer;
}

.filter__range {
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
}

.filter__range-block {
  display: flex;
  align-items: center;
}

.filter__range-block:last-child {
  margin-right: 0;
}

.filter__range label {
  margin-right: 11px;
}

.filter__range input {
  display: block;
  width: 80px;
  height: 36px;

  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  background-color: #eeeeee;
  color: #283136;

  outline: none;
  border: none;
  border-radius: 3px;
}

input:not(:disabled) + .filter__label:hover,
input:not(:disabled) + .filter__label:hover.filter__label::before {
  cursor: pointer;
  color: #000000;
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.filter__radio + .filter__label::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 25px;
  height: 25px;

  background: url("../img/radio-off.svg") no-repeat;

  opacity: 0.4;
}

.filter__radio:checked + .filter__label::before {
  background: url("../img/radio-on.svg") no-repeat;
}

.filter__checkbox + .filter__label::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 27px;
  height: 23px;

  background: url("../img/checkbox-off.svg") no-repeat;

  opacity: 0.4;
}

.filter__checkbox:checked + .filter__label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

input:disabled + .filter__label {
  opacity: 0.3;
}

.filter__submit {
  margin: 31px 0 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;

  background-color: #eeeeee;

  outline: none;
  border: none;
  border-radius: 3px;
}

.filter__submit:hover {
  background-color: #dfdfdf;

  cursor: pointer;
  transition: 300ms ease-out;
}

.filter__submit:focus,
.filter__submit:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}
