
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
       url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
  max-width: 1160px;
  min-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

.grey-back {
  min-width: 1200px;
  background-color: #eeeeee;
  padding: 1px;
}

/* ХЭДЕР */

.header {
  padding-top: 55px;
  padding-bottom: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  font-weight: 500;
}

.header__item {
  position: relative;
}

.header__item--current::after {
  content: "";
  position: absolute;
  display: block;
  left: -1px;
  bottom: -12px;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.header__mainmenu {
  padding: 0;
  list-style: none;
  display: flex;
}

.header__mainmenu .header__item {
  margin-right: 45px;
}

.header__cart img {
  margin-right: 26px;
  opacity: 0.3;
}

.slider {
  margin-bottom: 80px;
  position: relative;
}

.slider__slide {
  display: none;
}

.slider__slide--active {
  height: 413px;
  display: flex;
  align-items: center;
}

.slider__slide:nth-child(1) {
  background: url("../img/slide-picture-1.png") no-repeat 430px 50%;
}

.slider__slide:nth-child(2) {
  background: url("../img/slide-picture-2.png") no-repeat 495px 50%;
}

.slider__slide:nth-child(3) {
  background: url("../img/slide-picture-3.png") no-repeat 400px 50%;
}

.slider__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  max-width: 515px;
  margin: 0 0 25px;
}

.slider__text {
  margin: 0 0 40px;
  line-height: 1.5;
  width: 410px;
}

.slider__button {
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 3px;
}

.slider__controls {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: 60px;
  width: 20px;
  list-style: none;
  padding: 0;
}

.slider__switcher {
  margin-right: 17px;
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  outline: none;
}

.slider__switcher--active::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("../img/button-active.svg");
  opacity: 0.3;
}

.slider__switcher:hover {
  cursor: pointer;
}

/* ЗАКАЗАТЬ */

.features {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
  padding: 0;
}

.features__item {
  margin-right: 100px;
  width: 300px;
  margin-bottom: 80px;
}

.features__item:nth-child(3n) {
  margin-right: 0;
}

.features__img {
  margin-bottom: 21px;
}

.features__title {
  font-size: 24px;
  line-height: 1.25;
  margin: 0;
}

.features__text {
  max-width: 250px;
  margin-bottom: 32px;
  line-height: 1.5;
}

.features__button {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
  border-radius: 3px;
}

.features__button--red {
  background-color: #fb565a;
}

.features__button--green {
  background-color: #00ca74;
}

.features__button--yellow {
  background-color: #efc84a;
}

/* О НАС */

.company {
  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;
}

.company__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  margin: 32px 0 35px;
  max-width: 700px;
}

.company__text {
  margin-bottom: 43px;
  max-width: 650px;
  line-height: 1.5;
}

.company__title--small {
  font-size: 16px;
  margin-bottom: 33px;
}

.company__possibilities {
  list-style: none;
  padding: 0;
}

.company__possibilities li::before {
  content: "";
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: #fb565a;
}

.company__possibilities li {
  margin: 28px 0;
  color: #283136;

  display: flex;
  align-items: center;
}

.company__stats {
  text-align: center;
}

.company__img {
  margin-bottom: 36px;
}

.company__numbers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;

  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.company__numbers li {
  width: 110px;
}

.company__numbers span {
  font-size: 45px;
  font-weight: bold;
}

.company__numbers p {
   line-height: 1.13;
 }

.company__numbers sup {
  font-size: 32px;
}

/* работы */

.partners {
  margin-bottom: 80px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;

  min-height: 180px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  padding: 0;
}

.partners__item {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partners__item::after {
  display: block;
  content: "";
  height: 52px;
  width: 2px;
  background-color: #eeeeee;
}

.partners__item:nth-child(4n)::after {
  display: none;
}

/* карта */

.contact {
  min-width: 1160px;
  position: relative;
}

.contact__map {
  width: 100%;
  position: absolute;
  top: 0;
}

.contact .container {
  display: flex;
  align-items: center;

  height: 416px;
}

.contact__address {
  z-index: 1;
  padding: 50px;

  box-sizing: border-box;
  width: 319px;
  height: 308px;
  background-color: #ffffff;
}

.contact__title {
  margin: 0 0 22px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #000000;
}

.contact__text {
  line-height: 1.13;
  max-width: 210px;
  color: #666666;
}

.contact__button {
  margin-top: 37px;
  width: 219px;
  height: 50px;
  background-color: #fb565a;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
}

/* модальное окно */

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: auto;

  width: 960px;
  height: 590px;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);

  padding: 70px 100px 0;

  background-color: #ffffff;
}

.modal--active {
  display: block;
}

.modal__close {
  position: absolute;
  right: 90px;
  top: 80px;

  opacity: 0.3;

  background-color: transparent;
  border: none;
  outline: none;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 45px;
}

.modal__field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal__field label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 12px;
}

.modal__field input,
.modal__field textarea {
  width: 360px;
  height: 50px;

  padding: 16px;
  margin-bottom: 32px;
  box-sizing: border-box;

  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.13;

  border: solid 2px #d7dcde;
  border-radius: 3px;
  background-color: #ffffff;
}

.modal__field textarea {
  width: 760px;
  height: 118px;
  resize: none;
}

.modal__button {
   width: 260px;
   height: 50px;
   background-color: #fb565a;
   color: #ffffff;
   font-weight: 500;
   border: none;

   display: flex;
   align-items: center;
   justify-content: center;

   cursor: pointer;
   border-radius: 3px;
}

.social .container {
  display: flex;
  align-items: center;
  height: 217px;
}

.social__list {
  display: flex;
  margin-right: 127px;
  list-style: none;
  padding: 0;
}

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 12px;
  width: 79px;
  height: 79px;
  font-weight: 500;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social__discount {
}

.social__title {
  line-height: 1;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 12px;
  color: black;
  margin: 0 0 12px;
}

.social__text {
  margin: 0;
  color: #444444;
  line-height: 1.38;
}

/* КАТАЛОГ */

.title {
  text-align: center;
  margin-bottom: 40px;
}

.title__text {
  margin: 66px;
  margin-bottom: 100px;

  font-size: 55px;
  font-weight: 500;
}



.catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 45px;
}

.catalog__block--left {
  width: 260px;
}

.catalog__block--right {
  width: 760px;

}

.sorting__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin: 3px 0 0;
}

.sorting,
.sorting__by {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.sorting {
  margin-bottom: 57px;
}

.sorting__parameters,
.sorting__arrows {
  display: flex;
  align-items: center;

  padding: 0;
  margin: 0;
  list-style: none;
}

.sorting__parameters {
  margin-right: 48px;
}

.sorting__item {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  opacity: 0.3;
}

.sorting__item--active {
  opacity: 1;
}

.sorting__arrow--inverted {
  transform: rotate(180deg);
}

.sorting__parameters li {
  margin-right: 25px;
}

.sorting__arrows li {
  margin-right: 18px;
}

.sorting__parameters li:last-child,
.sorting__arrows li:last-child {
  margin-right: 0;
}

/* ЛИСТ ТОВАРОВ */

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 27px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product__item {
  position: relative;

  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  padding-top: 39px;
  width: 360px;
  height: 615px;
  box-sizing: border-box;
}

.product__item::before {
  content: "";
  position: absolute;
  top: 0;
  height: 40px;
  width: 360px;
  z-index: 1;
  background-image: url("../img/catalog-item-header.svg");
  opacity: 0.12;
}

.product__item:hover::before {
  opacity: 1;
}

.product__img {
  padding: 0;
  margin: 0;
}

.product__desc {
  position: absolute;
  bottom: 0;
  z-index: 1;

  display: none;

  min-height: 230px;
  width: 360px;

  padding: 10px 0;
  box-sizing: border-box;
  background-color: #eeeeee;
}

.product__item:hover .product__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title {
  font-size: 18px;
  line-height: 1.67;
}

.product__text {
  font-weight: normal;
  line-height: 1.13;
  color: #666666;
  text-align: center;
  max-width: 250px;

  margin: 0;
  margin-bottom: 30px;
}

.product__button {
  width: 200px;
  height: 50px;
  margin: 0 80px;
  background-color: #fb565a;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
}

.page {
  display: flex;
  list-style: none;
  padding: 0;
}

.page__item {
  height: 50px;
  width: 50px;

  margin-right: 10px;
  box-sizing: border-box;
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
  border-radius: 3px;
}

.page__item:last-child {
  width: 260px;
}

.page__item--current {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.page__item a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  line-height: 1.13;
  height: 100%;
  width: 100%;
}

.filter {
  margin: 0;
  padding: 0;
}

.filter__fieldset {
  border: none;
  margin: 0 0 27px;
  padding: 0;
}

.filter__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  margin-bottom: 13px;
}

.filter__fieldset input {
  display: none;
}

.filter__fieldset ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__fieldset li {
  margin: 0 0 16px;
}

.filter__label {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: #283136;
  display: flex;
  align-items: center;
}

.filter__slider {
  width: 260px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 35px 0 13px;
}

.filter__bar {
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
}

.filter__bar--fill {
  height: 100%;
  width: 152px;
  background-color: green;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__button {
  width: 20px;
  height: 22px;

  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 50%;
  background: url("../img/filter-button.png");
  /* .svg-файл с зеплина багованный/пустой и не отображается вообще ни в какую; пришлось использовать .png*/

  cursor: pointer;
}

.filter__range {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.filter__range label {
  margin-right: 13px;
}

.filter__range input {
  display: block;
  width: 80px;
  height: 38px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;

  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #283136;

  margin-right: 31px;
}

.filter__range input:last-child {
  margin-right: 0;
}

/* w */

.filter__label:hover {
  cursor: pointer;
  color: #000000;
}

.filter__label:hover.filter__label::before {
  opacity: 1;
}

/* w */

input[type="radio"] + .filter__label::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat;
  opacity: 0.4;

  margin-right: 10px;
}

input[type="radio"]:checked + .filter__label::before {
  background: url("../img/radio-on.svg") no-repeat;
}

input[type="checkbox"] + .filter__label::before {
  content: "";
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat;
  opacity: 0.4;

  margin-right: 8px;
}

input[type="checkbox"]:checked + .filter__label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter__submit {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: #eeeeee;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;

  margin: 15px;
}

.filter__submit:hover {
  cursor: pointer;
}
